import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!pip install streamlit
pip install streamlit babel
import streamlit as st
from babel.numbers import format_currency
sns.set(style='dark')